/* Restart Style start */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    max-width: 100%;
}

body{
    font-family: "Inter", sans-serif;
}
/* Restart Style End */

/* Comon Style Start*/

.continar{
    width: 100%;
    max-width: 1320px;
    /* align-items: center; */
    margin: auto;
}

.buttonC{
    background-color: #1d4ed8;
    border: none;
    color: #fff;
    font-size: 15px;
    font-weight: bold;
    padding: 10px 25px;
    border-radius: 10px;
    cursor: pointer;

}
/* Comon Style End*/

/* Nav Bar Style Start */
.navBarConf{
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
    align-items: center;
}

.navLogo > a > img {
    width: 110px;
}

.navList > ul{
    display: flex;
    gap: 20px;
    list-style: none;
    color: #575757;
}

.navList > ul a {
    list-style: none;
    color: #575757;
    text-decoration: none;
}
    /* Nav Bar Style End */

/* Hero Aria Style Start  */

#heroBanar {
    min-height: 650px;
    position: relative;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    background-image:
        linear-gradient(
                to top right,
            rgba(0, 0, 0, 0.85),
            rgba(0, 0, 0, 0.55),
            rgba(0, 0, 0, 0.15),
            rgba(0, 0, 0, 0)
        ),
        url("../images/banner.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.heroAria{
    text-align: center;
    min-height: 650px;
    position: relative;
}

.buttonDiv{
    position: absolute;
    left: 50%;
    bottom: 40px;
    transform: translateX(-50%);
}

.buttonDiv > button {
    height: 70px;
    width: 275px;
    font-size: 20px;
}

.txtContent h1{
    font-size: 60px;
    padding-top: 90px;
}
.txtContent h1 > span{
    font-style: italic;
}

.txtContent{
    color: #fff;
}
.txtContent p{
    /* color: #fff; */
    max-width: 750px;
    margin: 0 auto;
    font-size: 20px;
    font-weight: 400px;
    line-height: 1.2;
    padding: 25px 0;
}

/* Hero Aria Style End */

/* Meet the Speakers Section Style Start */
.titleDiv{
    text-align: center;
    color: #000102;
    font-size: 56px;
}

.speaker{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.speakerCard{
    flex: calc(50% - 15px);
    border: 1px solid #e5e7eb;
    /* background-color: #e5e7eb; */
    border-radius: 10px; 
}
.speakerCard > .imageDiv img{border-radius: 10px 10px 0 0;}

.titleDiv {
    font-size: 25px;
    padding: 50px 0;
}

.cardTitle{
    padding: 20px;
}

.cardTitle > p{
    color: #575757;
    font-size: 14px;
}
.cardTitle > span{
    color: #2563eb;
    font-size: 12px;
    font-weight: bold;
}
.cardTitle > h2{
    color: #0d1b2a;
    font-size: 20px;
    padding: 6px 0;
}

/* Meet the Speakers Section Style Ends */

.priceTitleSection {
    text-align: center;
    padding: 90px 0 30px 0px;
}
.priceTitleSection >p{
    color: #575757;
    padding: 15px 0;
}
.priceTitleSection > h1 {
    /* text-align: center; */
    color: #0d1b2a;
    font-size: 40px;
    /* padding: ; */
}

.priceingBoxCardPrants {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.childBoxP{
    min-height: 241px;
    width: auto;
    padding: 35px;
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    border: 1px solid #e2e8f0;
    border-radius: 10px;
}

.childBoxP:nth-child(2){
    background-color: #0d1b2a;
}
.childBoxP:nth-child(2) > .priceS{
    border-color: #1c3043;
}
.childBoxP:nth-child(2) > .priceS > h1{
    color: #fff;
}

.childBoxP:nth-child(2) > .priceS > span{
    color: #93c5fd;
}
.childBoxP:nth-child(2) > .priceS > p {
    color: #e5e5e5;
}

.childBoxP:nth-child(2) > .priceFetcherList li{
    color: #cbd5e1;
}

.childBoxP:nth-child(2) > .buttonS > .pBoxCard{
    color: #fff;
    background-color: #2563eb;
}

.buttonS{
    padding: 20px 0;
}

.priceS{
    padding-bottom: 10px;
    border-bottom: 1px solid #edf0f3;
}

.priceS span{
    display: block;
    margin-bottom: 4px;
    font-size: 13px;
    line-height: 1;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.3px;
    color: #64748b;
}

.priceS h1{
    margin: 0;
    font-size: 44px;
    line-height: 1.5;
    font-weight: 700;
    color: #06192b;
}

.priceS p{
    font-size: 13px;
    margin: 3px 0 0;
    color: #64748b;
}

.priceFetcherList{
    flex: 1;
    padding-top: 10px;
}

.priceFetcherList ul{
    margin: 0;
    padding-left: 9px;
}

.priceFetcherList li {
    margin-bottom: 5px;
    padding-left: 2px;
    font-size: 14px;
    line-height: 2;
    color: #475569;
}

.priceFetcherList li::marker{
    color:#2563eb;
}

.pBoxCard{
    width: 100%;
    height: 45px;
    background-color: #fff;
    color: #2563eb;
    border: 2px solid #2563eb;
    border-radius: 6px;
}