/* Restart Style start */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    width: 100%;
}

body{
    font-family: "Inter", sans-serif;
}
/* Restart Style End */

/* Comon Style Start*/

.continar{
    width: 100%;
    max-width: 1320px;
    /* align-items: center; */
    margin: auto;
}

.buttonC{
    background-color: #1d4ed8;
    border: none;
    color: #fff;
    font-size: 15px;
    font-weight: bold;
    padding: 10px 25px;
    border-radius: 10px;

}
/* Comon Style End*/

/* Nav Bar Style Start */
.navBarConf{
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
    align-items: center;
}

.navLogo > a > img {
    width: 110px;
}

.navList > ul{
    display: flex;
    gap: 20px;
    list-style: none;
    color: #575757;
}

.navList > ul a {
    list-style: none;
    color: #575757;
    text-decoration: none;
}
    /* Nav Bar Style End */

/* Hero Aria Style Start  */

#heroBanar {
    min-height: 650px;
    position: relative;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    background-image:
        linear-gradient(
                to top right,
            rgba(0, 0, 0, 0.85),
            rgba(0, 0, 0, 0.55),
            rgba(0, 0, 0, 0.15),
            rgba(0, 0, 0, 0)
        ),
        url("../images/banner.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.heroAria{
    text-align: center;
    min-height: 650px;
    position: relative;
}

.buttonDiv{
    position: absolute;
    left: 50%;
    bottom: 40px;
    transform: translateX(-50%);
}

.buttonDiv > button {
    height: 70px;
    width: 275px;
    font-size: 20px;
}

.txtContent h1{
    font-size: 60px;
    padding-top: 90px;
}
.txtContent h1 > span{
    font-style: italic;
}

.txtContent h1, p{
    color: #fff;
}
.txtContent p{
    /* color: #fff; */
    max-width: 750px;
    margin: 0 auto;
    font-size: 20px;
    font-weight: 400px;
    line-height: 1.2;
    padding: 25px 0;
}

/* Hero Aria End */